extends ConfigLayout
block content
    section.config-section
      #config-detalle
        h3  Detalles de la cuenta 
        - let limite = (max/1024)/1024
        p Almacenamiento: #{limite} GB
        .containerCanvas
        canvas#myChart= grafico
        script.
          let mychart = document.getElementById('myChart').getContext('2d');
          let massPopChart = new Chart(myChart,{
          type: 'doughnut',
          data:{ 
            labels:['Bytes utilizados','Bytes disponibles'],
             datasets:[
               {
                 label:'Population',
                  data:[
                    #{utilizado},
                    #{max} - #{utilizado},
                    ],
                   backgroundColor:[
                     'rgba(59, 171, 223, 1)',
                     'rgba(22, 148, 26, 1)'
                     ]
                   }
                   ]},
          options:{}
          });

