doctype html
html
  head
    title Archivos - Sultral
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/Style2.css', type='text/css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,700', rel='stylesheet')
  body
    script.
      var loc = "#{varLoc}";
      
    .app-container
      header.app-header
        .logo-app
          a(href='/')
            img(src='/images/logo_sultral.png', alt='Sultral')
        .menu-opciones
          div
          nav
            ul.menu-header
              li
                a(href='../../ConfigDetalle') Configuración
              li
                a(href='') Contactos
              li
                a(href='../../Cerrar') Cerrar Sesión
      #temp
      main.app-body
        aside.menu
          nav.app-menu
            .upload-container
              - let origen = JSON.parse(carpetasOrigen.replace(/&quot;/g,'"'));
              if varLoc != origen[0]['_id'] && varLoc != origen[1]['_id'] && varLoc != origen[2]['_id'] && varLoc != "-"
                button.upload-btn Subir
            ul
              li
                a#files.option(href='#', onclick='select(this)') Mis archivos
              li
                a#share.option(href='#', onclick='select(this)') Compartidos
              li
                a#fav.option(href='#', onclick='select(this)') Favoritos
              li
                a#bin.option(href='#', onclick='select(this)') Papelera
        section.application
          .route
            p#filesRoute
              
          .document-viewer
            
            if contenido != undefined
              - var archivos = JSON.parse(contenido.replace(/&quot;/g,'"'));
              for archivo in archivos
                - let link = "/Gestor/"+(archivo['ext'] ? varLoc +"/" : "")+archivo['_id'];
                - let name = archivo['nombre'];
                - let splitname = ((name.length > 17 && archivo['ext'] == null) ? name.substring(0,17)+"..." : ((name.length > 14 && archivo['ext'] != null) ? name.substring(0,14)+"..."+archivo['ext'] : (archivo['ext'] ? name+"."+archivo['ext'] : name)));
                if archivo['ext'] == null
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.yellow(href=link)
                      i.fa.fa-folder-open
                    .options
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "pdf"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.red
                      i.fas.fa-file-pdf
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "pptx"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.orange
                      i.fas.fa-file-powerpoint
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "docx"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.blue
                      i.fas.fa-file-word
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "xlsx"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.green
                      i.fas.fa-file-excel
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "txt"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.grey
                      i.fas.fa-file-alt
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "jpg" || archivo['ext'] == "png" || archivo['ext'] == "jpeg" || archivo['ext'] == "gif"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.grey
                      i.fas.fa-file-image
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "mp4" || archivo['ext'] == "avi" || archivo['ext'] == "wmv" || archivo['ext'] == "flv" || archivo['ext'] == "mkv"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.grey
                      i.fas.fa-file-video
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else if archivo['ext'] == "mp3" || archivo['ext'] == "wav" || archivo['ext'] == "ogg" || archivo['ext'] == "wma"
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.grey
                      i.fas.fa-file-audio
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
                else
                  .element
                    p.name(title=name) #{splitname}
                    a.nav-button.white
                      i.fas.fa-file
                    .options
                      a.option(href=link)
                          i.fas.fa-download
                      button.option
                          i.fas.fa-star
                      button.option2
                          i.fas.fa-ellipsis-h
            if varLoc != origen[0]['_id'] && varLoc != origen[1]['_id'] && varLoc != origen[2]['_id'] && varLoc != "-"
              .new-folder.mostrar
                .icon-folder
                  i.fas.fa-folder-plus
                p.new-f-text
                  | Nueva Carpeta
    .mascara(role='dialog')
    .modal(role='alert')
      button.cerrar(role='button') X
      form(class='centrado', method='POST')
        label(for='fname') Nombre de la carpeta: 
        input(type='text', id='fname', name='fname', placeholder='Nueva Carpeta', class='txtForm', required)
        button.submit-file
          i.fas.fa-plus
    .mascaraA(role='dialog')
    .modalA(role='alert')
      button.cerrarA(role='button') X
      form(class='centrado', method='POST', action='/Gestor/'+varLoc+'/upload',encType='multipart/form-data')
        input(type='file', id='finame', name='finame', placeholder='Nueva Carpeta', class='inputfile')
        label.lblupload(for='finame') 
          span Elegir Archivo 
        button.submit-file
          i.fas.fa-upload
        p subir
    .alert(role='alert')
      button.cerrar-alert(role='button') X
      .contenido-alert
        div
          h3#titulo-alert #{alertT}
        div
          p#mensaje-alert #{alertM}

    script.
      let carpetas = JSON.parse('#{carpetasOrigen}'.replace(/&quot;/g,'"'));

      if(loc != "-"){
        var contenido = JSON.parse('#{contenido}'.replace(/&quot;/g,'"'));
        var actual = JSON.parse('#{actual}'.replace(/&quot;/g,'"'));
        if(actual[0]['contenedor'] != null){
          var contenedor = JSON.parse('#{contenedor}'.replace(/&quot;/g,'"'));
        }
      }

      let files = document.getElementById("files");
      files.href = "/Gestor/"+carpetas[3]['_id'];
      let shared = document.getElementById("share");
      shared.href = "/Gestor/"+carpetas[0]['_id'];
      let fav = document.getElementById("fav");
      fav.href = "/Gestor/"+carpetas[1]['_id'];
      let bin = document.getElementById("bin");
      bin.href = "/Gestor/"+carpetas[2]['_id'];

      let reqAlert = #{alert};

      let currentLoc = "";
    script(src='/js/gestorFunc.js')
    script(src='/js/labelSubir.js')
    script(src='/js/submenu.js')
