extends layout

block content
    section.container
      .register-box
        form.formulario-registro(method='POST')
          h2 CREA UNA CUENTA
          p
            | Al crear una cuenta podrás disfrutar de todas las funcionalidades que ofrece Sultral mientras mantienes tus archivos seguros, organizados y accesibles desde cualquier computadora.
          label(for='usuario') Usuario:
          input#usuario.input.r-input(type='text',name='usuario', placeholder='Usuario', value=usuario)
          label(for='correo') Correo:
          if(errEmail)
            input#correo.input.r-input.err-input(type='email',name='correo', placeholder='sultral@example.com', value=correo)
          else
            input#correo.input.r-input(type='email',name='correo', placeholder='sultral@example.com', value=correo) 
          label(for='contraseña') Contraseña:
          input#contrasenia.input.r-input(type='password',name='contrasenia', placeholder='***********', value=pass)
          label(for='confirm') Confirmar contraseña:
          input#confirm.input.r-input(type='password',name='confirm', placeholder='***********', value=passconfirm)
          .error= err
          input.btn-registro.btn-azul(type='submit', value='¡Regístrate ya!')